In [1]:
# Importing Packages

import gspread
import pandas as pd

In [2]:
# Creating the gspread instance using the credentials downloaded

credentials = 'key/odj-112233-d65b958d66e9.json'

gc = gspread.service_account(credentials)

In [3]:
# Establishing the connection to the Google Sheet file

sheet_file = gc.open('GDS source')
sheet_file

In [4]:
# Listing the names of existing worksheets in the Google Sheet file

sheet_file.worksheets()

In [5]:
# Accessing a specific worksheet from the Google Sheet file

sheet_name = sheet_file.worksheet('data')
sheet_name

In [6]:
# Loading the csv dataset into a DataFrame

upload_file = 'dataset.csv'
df = pd.read_csv(upload_file)

df

,tahun,nama_kabupaten_kota,nama_kecamatan,jumlah_kelurahan,jumlah_rw,jumlah_rt,jumlah_kk
0,2011,Kepulauan Seribu,Kepulauan Seribu Selatan,3,11,47,2709.0
1,2011,Kepulauan Seribu,Kepulauan Seribu Utara,3,13,54,4177.0
2,2011,Jakarta Pusat,Gambir,6,46,484,33884.0
3,2011,Jakarta Pusat,Sawah Besar,5,49,598,43147.0
4,2011,Jakarta Pusat,Kemayoran,8,77,983,76715.0
...,...,...,...,...,...,...,...
391,2019,Jakarta Timur,Cakung,7,90,1017,182047.0
392,2019,Jakarta Timur,Duren Sawit,7,96,1106,140512.0
393,2019,Jakarta Timur,Makasar,5,53,571,70689.0
394,2019,Jakarta Timur,Ciracas,5,49,609,99934.0
395,2019,Jakarta Timur,Cipayung,8,56,508,87885.0

In [7]:
# Updating the worksheet using all the header + rows from the DataFrame

sheet_name.update([df.columns.values.tolist()]
+ df.values.tolist())

{'spreadsheetId': '1gKYmJzFdNq1yoG7_EEWSBJOjiA87mK4Mb2tDL5AeWhk',
 'updatedRange': 'data!A1:G397',
 'updatedRows': 397,
 'updatedColumns': 7,
 'updatedCells': 2779}

Future Works:
- What happens when there is too many rows of data in the dataframe?
- How can we make the process more efficient?
- Can we somehow upload/append only non-duplicate rows to the worksheet?