In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset.csv', encoding='utf-8', delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53679 entries, 0 to 53678
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movies  53679 non-null  object
 1   links   53679 non-null  object
 2   script  53679 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [4]:
df.head()

,movies,links,script
0,Cascade (2023),movie/Cascade-12180508,"api.OpenSubtitles.org is deprecated, please im..."
1,Cet été-là (2022),movie/Cet_t-l-15783304,"api.OpenSubtitles.org is deprecated, please im..."
2,Ritual (2022),movie/Ritual-14305564,"Take care, Tom. Wait. - Kiki, do you have thos..."
3,The Initiated (2023),movie/The_Initiated-27726262,POLICE Frank Molina. Even the rain won't stop ...
4,Blame It on Rio (1984),movie/Blame_It_on_Rio-86973,Might've been the free and easy laughter in th...